$white: #fff;
$black: #000;
$background: #202020;
$yellow: #e0c425;
$yellow-dark: #e09f25;
$yellow-light: #eec16d;
$red: #9f0613;
$blue: #455a6b;
$blue-light: #a8c2c2;
$blue-dark: rgb(41, 41, 34);
$disabledText: rgb(241, 241, 241);
$disabledBackground: rgb(181, 189, 194);
