.go-back-container {
    display: grid;

    .grid-template-areas {
        margin-top: 1.25rem;
        margin-left: 1.75rem;
        grid-template-areas: "goback logo div";


        .logo {
            grid-area: logo;
        }

        .icon {
            margin: 0.5rem;
            grid-area: goback;
        }
    }

}