@import '../../../styles/colors.scss';

.container {
  height: 100vh;
  margin-bottom: 0;
}

.payment-form-container {
  color: $yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;

  .credit-card-container {
    height: 100%;
    font-family: Roboto;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;

    .image-border {
      padding: 1.5rem;
      transition: all 0.5s;

      &:hover {
        background-color: transparent;

        border: 0.25rem solid $yellow-dark;
        border-radius: 1rem;
      }
    }

    .credit-card-image {
      transition: all 0.8s;
      &:hover {
        transform: scale(1.025);
        filter: brightness(0.9);
        cursor: pointer;
      }
    }
    p {
      margin-top: 0.8rem;
    }
  }

  .boleto-container {
    grid-column: col-start 1 / col-end 2;
    grid-row: row-start 3 / row-end 3;
  }
}
