@import '../../styles/colors.scss';

.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  font-family: 'Roboto';
  width: 15rem;

  button {
    background-color: $yellow-dark;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
}
